body {
    font-family: sans-serif;
    background-color: white;
    border: 10px lightgrey solid;
    margin: auto;
}

ul {
    display: flex;
    font-weight: bold;

     li {
        list-style: none;
         padding: 10px;
    }

    a {
        color: black;
        text-decoration: none;
    }
}

nav ul li a:hover {
    color: #817e7e;
}

.logo {
}